In [77]:
#Import libraries
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np
#conda install PyPDF2: Read pdf

In [100]:
#Create a df or Import as below
#df = pd.DataFrame([['Neustar_A', 'A,B,C,D,E'], 
#                   ['Neustar_B', 'F,G'], 
#                   ['Neustar_C', 'H,I,J'], 
#                   ['Neustar_D', 'K,L,M']], 
#                  columns=['Table_Name', 'Columns_Names'])
#df.head()

In [109]:
#Read Excel Data
df = pd.read_excel('/Users/shinde/Desktop/Neustar_Table_Names.xlsx', 
                   sheetname = 'Table_Names')
df.head()

  Table_Name Column _Names
0  Neustar_A     A,B,C,D,E
1  Neustar_B           F,G
2  Neustar_C         H,I,J
3  Neustar_D         K,L,M

In [110]:
df.shape

(4, 2)

In [111]:
#Generate Table Names for Redshift Tables
df['Redshift_Table_Name'] = 'Redshift_' + df['Table_Name'].astype(str)
df.head()

  Table_Name Column _Names Redshift_Table_Name
0  Neustar_A     A,B,C,D,E  Redshift_Neustar_A
1  Neustar_B           F,G  Redshift_Neustar_B
2  Neustar_C         H,I,J  Redshift_Neustar_C
3  Neustar_D         K,L,M  Redshift_Neustar_D

In [113]:
df.columns

Index(['Table_Name', 'Column _Names', 'Redshift_Table_Name'], dtype='object')

In [114]:
#Now create Multiple block of SQL
#Create each table from above table name defined above

def create_sql(row):
    SQL = 'DROP TABLE IF EXISTS ' +  row['Redshift_Table_Name'] + ';' + ' Create Table' + ' ' + row['Redshift_Table_Name'] + ' '+ '(' + ' ' + row['Column _Names'] + ' ' + ');'
    return SQL

In [115]:
#Apply function
df['SQL'] = df.apply(create_sql, axis = 1)
df.head()

,Table_Name,Column _Names,Redshift_Table_Name,SQL
0,Neustar_A,"A,B,C,D,E",Redshift_Neustar_A,DROP TABLE IF EXISTS Redshift_Neustar_A; Creat...
1,Neustar_B,"F,G",Redshift_Neustar_B,DROP TABLE IF EXISTS Redshift_Neustar_B; Creat...
2,Neustar_C,"H,I,J",Redshift_Neustar_C,DROP TABLE IF EXISTS Redshift_Neustar_C; Creat...
3,Neustar_D,"K,L,M",Redshift_Neustar_D,DROP TABLE IF EXISTS Redshift_Neustar_D; Creat...

In [116]:
df['SQL'][0]

'DROP TABLE IF EXISTS Redshift_Neustar_A; Create Table Redshift_Neustar_A ( A,B,C,D,E );'

In [118]:
#save data into text file
np.savetxt(r'/Users/shinde/Desktop/GeneratedRedshiftSQL.txt', df['SQL'].values, fmt='%s')