In [1]:
#Author : Prashant Shinde

In [ ]:
# RedshiftDB_Python_Connection
# Tutorial on connecting to AWS Redshift database using Python 

#1. Connect using pyodbc
#2. Connect using psycopg2
#3. Connect using connection & cursor
#4. Connect without using cursor (use pandas method: read_sql)

In [ ]:
#Goal: Connect to Amazon Redshift using Python
#Using psycopg2

In [ ]:
#Import required libraries
import pandas as pd
import numpy as np
import psycopg2 #create connection with AWS Redshift DB

In [ ]:
#Note: conda install psycopg2 or pip install psycopg2

In [ ]:
#Create a DB Connection
con = psycopg2.connect(dbname = 'database_name',
                       host = 'host_name',
                       port = 'port_number', #default = 5439
                       user = 'user_name',
                       password = 'password'
                      )

In [ ]:
#Create a Cursor
cur = con.cursor()

In [ ]:
#Write SQL
sql_code = str('Your SQL query here')

In [ ]:
#Execute SQL
cur.execute(sql_code)

In [ ]:
#Fetch SQL output results & save if pandas dataframe
df_list = cur.fetchall()

In [ ]:
#Note: Returned SQL ouptput will be in a LIST form

In [ ]:
#Close Cursor & DB Connection 
cur.close()
con.close()

In [ ]:
#Convert List data dataframe format
df = pd.DataFrame(df_list)
df.shape

In [ ]:
#Check columns names: It will be in range(1,N) & INT type
df.columns

In [ ]:
#Convert column header datatype to String from INT for future renaming
df.columns = df.columns.astype(str)

In [ ]:
#Rename pandas Column Names
df = df.rename(columns = {'0': 'Column_Name1',
                          '1': 'Column_Name1',
                          '2': 'Column_Name1'
                         })

In [ ]:


###########
###########

#Another easy method to save SQL output data in pandas dataframe

In [ ]:
import getpass

In [ ]:
#Create a DB Connection
db_con = psycopg2.connect(dbname = 'database_name',
                       host = 'host_name',
                       port = 'port_number', #default = 5439
                       user = 'user_name',
                       password = getpass.password() #prompted for password input
                      )

In [ ]:
#Write SQL
sql_code = str('Your SQL query here')

In [ ]:
#Lets use pandas inbuilt method read_sql to run SQL & save data into df
df = pd.read_sql(sql_code, db_con)
df.head(2)